@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&display=swap');

// Color;
$primary-color: #93A5FF;
$hover-color : #93A5FF;
$primary-dark: #6782E5;
$bColor: #000;
$white : #ffffff;
$black : #000000;
$bgOne: #F9F9F9;
$bgTwo: #EFEFEF;
$bgThree: #C5D2FF;


// Body;
$bodyFont: 'Nunito', sans-serif;
$titleFont: 'Nunito', sans-serif;
$bfSize: 16px;
$bLineHeight: 26px;
$fontWeight: 600;
$transition: all .4s;
