<div class="main-header-wrapper">
    <div class="jumbotron main-header">
        <div class="container text-center">
            <h1>Error Page!</h1>
            <p> <%- error%> </p>
        </div>
    </div>
</div>