<section id="home">
    <div class="bg-holder" style="background-image:url(/assets/front/assets/img/gallery/hero.png);background-position:center;background-size:cover;">
    </div>
    <!--/.bg-holder-->

    <div class="container">
        <div class="row align-items-center min-vh-50 min-vh-sm-75">
            <div class="col-md-5 col-lg-6 order-0 order-md-1"><img class="w-100" src="/assets/front/assets/img/illustrations/hero-header.png" alt="..." /></div>
            <div class="col-md-7 col-lg-6 text-md-start text-center">
                <h1 class="text-light fs-md-5 fs-lg-6">Servion</h1>
                <p class="text-light">Servion is monitoring server and notification that it's easy to maintenance </p><a class="btn btn-primary" href="#" role="button">Read Me</a>
            </div>
        </div>
    </div>
</section>