<%- UI.Form.breadcrumb(frameworkcss, [{text: LANGUAGE['home'], href:"/dashboard"}, {text: LANGUAGE['grid_list'], href:"/"+routeName}, {text: LANGUAGE['update'], active: true}]) %>

<div class="page-header">
    <h2><%- titleHeader %></h2>
</div>

<% include _form.ejs %>