
<div class="container">
    <center><h1><%- data.title%></h1></center>

    <p><%- template%></p>


    <div class="row">
        <div class="col-md-12">

            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Comments</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>

            <button id="submit_draft" type="button" class="btn btn-block btn-lg btn-primary"><span class="fa fa-paper-plane"></span> Approve</button>
            <button id="submit_draft" type="button" class="btn btn-block btn-lg btn-danger"><span class="fa fa-paper-plane"></span> Reject</button>
        </div>
    </div>
</div>

<p></p>